/IResourceStorageFacade.java
/PortableURIs.java
/ResourceStorageFacade.java
/ResourceStorageLoadable.java
/ResourceStorageProviderAdapter.java
/ResourceStorageWritable.java
/SerializableEObjectDescription.java
/SerializableEObjectDescriptionProvider.java
/SerializableReferenceDescription.java
/SerializableResourceDescription.java
/SerializationExtensions.java
/SourceLevelURIsAdapter.java
/StorageAwareResource.java
/StorageAwareResourceDescriptionManager.java
