/DisposableRegistry.java
/IDisposable.java
/IFileSystemScanner.java
/LineAndColumn.java
/UriExtensions.java
/XtextVersion.java
/.DisposableRegistry.java._trace
/.IDisposable.java._trace
/.IFileSystemScanner.java._trace
/.LineAndColumn.java._trace
/.UriExtensions.java._trace
/.XtextVersion.java._trace
