/AbstractAntlrParserBasedTokenSourceProvider.java
/AbstractTokenSourceProvider.java
/TokenSourceProvider.java
/.AbstractAntlrParserBasedTokenSourceProvider.java._trace
/.AbstractTokenSourceProvider.java._trace
/.TokenSourceProvider.java._trace
