/ChunkedResourceDescriptions.java
/LiveShadowedChunkedResourceDescriptions.java
/ProjectDescription.java
/.LiveShadowedChunkedResourceDescriptions.java._trace
/.ProjectDescription.java._trace
/.ChunkedResourceDescriptions.java._trace
